body{
    background-color: lightskyblue;
}
h2{
    text-decoration: line-through;
}
h3{
    text-decoration: underline;
}
table{
    border-color: greenyellow;
    border-left: greenyellow dashed;
    border-right:greenyellow dashed ;
    
}
th{
    background-color: greenyellow;
}